!!!
html
  head
      title Queriac
      meta(name="viewport" content="width=device-width, initial-scale=1")

      link(href='//cdn.jsdelivr.net/devicons/1.4.0/css/devicons.min.css' rel='stylesheet')
      link(href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700|PT+Serif:400,700', rel='stylesheet', type='text/css')
      link(href='/assets/styles.css', rel='stylesheet', type='text/css')

      script.
        document.addEventListener("DOMContentLoaded", function(event) {
          document.querySelector("#logo").classList.add("active")
        })

  body
    section

      header
        #logo
          img(src="/assets/queriac-logo2.svg")

        h1 Queriac

      #content
        != yield

      footer
        :markdown
          Queriac is [open-sourced on GitHub](https://github.com/zeke/queriac) and runs on [Heroku](https://heroku.com).
