:markdown
  Queriac is an extension for Chrome, Firefox, and Safari that lets you run JavaScript commands in your browser.

  1. Write command in JavaScript files and save them in [a GitHub repo](https://github.com/zeke/queriac-commands)
  1. Install the [browser extension](https://chrome.google.com/webstore/detail/queriac/mbinhgdjnejaecocmffcfajgjmcnddik).
  1. The extension will download all *.js files in your repo and save them in localStorage
  1. Invoke the Queriac command input from any page by double-tapping the SHIFT key.
  1. Type a command and arguments, like "i cats" and press Enter.

p
  a.button.chrome(href="https://chrome.google.com/webstore/detail/queriac/mbinhgdjnejaecocmffcfajgjmcnddik") Download for Chrome
